<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>

  
  <appSettings>
    <add key="ClosedAllCookies" value="false"/>
    <add key="ScreenshootsFolder" value="C:\Artifacts\hardskills\SpecFlow\C-_Selenium_SpecFlow\Screenshoots\"/>
    <add key="FilesDownloadFolder" value="C:\Artifacts\HardSkills\SpecFlow\C-_Selenium_SpecFlow\FilesDownload"/>
    <add key="useTimestampAsScreenshotsFolder" value="true"/>
    <add key="testRun#" value="1"/>
  </appSettings>
  
</configuration>

